
<section>
    <h1 class="text-[#3a5a40] font-bold text-center text-[30px] my-6">Products of Store .</h1>

    <input 
    [(ngModel)]="search"
    type="search"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-50 focus:border-blue-50 block w-[50%] mx-auto my-5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 
    " placeholder="search by name...." required />

    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-8">

        @for (item of gallers | search : search; track  item.id) 
        {

            <div  class="max-w-sm card overflow-hidden relative bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
   
                <img  [routerLink]="['/details' , item.id]" class="h-[150px] my-4 mx-auto block" [src]="item.image" alt="" />
            
            <div class="p-5 
            ">
              
                  
            <div class="flex justify-between items-center">
                <h5 class="mb-3 text-[19px] font-bold tracking-tight  text-[#3a5a40]"> {{item.title.split(' ' ,2).join(' ')}} </h5>
                <h5 class="mb-3 text-[19px] font-bold tracking-tight  text-[#69776b]"><i class="fa-solid fa-star text-yellow-400"></i> {{item.rating.count}} </h5>
          
            </div>
                <p class="mb-3 font-medium text-[#ababaa]"> {{item.description.split(' ' ,4).join(' ')}} </p>
                

                

                <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm dark:bg-green-900 absolute top-1 left-1 dark:text-green-300">{{item.price}}</span>

               
            </div>
            <button class="bg-[#3a5a40] text-white py-2 px-10 border rounded w-[90%] mx-auto block"><i class="fa-solid fa-cart-shopping fa-spin"></i></button>
        </div>
        }

    
    </div>
</section>